.formulario {
    margin: 0 auto;
    width: 40%;
  
    border-radius: 4px;
    border: 1px solid #383737;
  
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    padding-bottom: 15px;
  }



input{
    height: 54px;
    width: 80%;
    border-radius: 8px;
    border:1px solid #383737;
    padding: 3px;
    text-align: center;
    outline: none;
}

button{
    width: 80%;
    background-color: dodgerblue;
    color: white;
    font-size: 18px;
    padding: 3px;
    border-radius: 8px;
    border: 1px solid #383737;

}
button:hover{
    background-color: #0f51dd;
    
}

img{
    width: 300px;
}

.input-error {
    border-color: red;
}

.input-area{
    display: flex;
    flex-direction: column;
    width: 80%;
    
}


.input-area input {
    width: 100%;
}

.text-error{
    color: red;
    margin: 4px;
}